{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
	    <h3>About developer</h3>
	    <p class='text-muted'>BIOGRAPHY
	    <ul class="list-group">
                <h3 class="list-group-item list-group-item-light">Magesajr</h3>
                <h3 class="list-group-item list-group-item-light">Footballer</h3>
                <h3 class="list-group-item list-group-item-light">C.E.O</h3>
                <h3 class="list-group-item list-group-light">RedeemHopeTech@company </h3>
              </ul>
            </p>
    </div>   
{% endblock content %}